*, *::after, *::before {
    box-sizing: border-box;
    flex-basis: inherit;
}

.c-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
/* ///////////////////TYPE/////////////////////// */
.type{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
    border-bottom-style: solid;
    border-width: 1px;
}

.type h1{
    max-width: 40rem;
}

.type p{
    max-width: 30rem;
}
/* ////////////////////////////////////////////////////// */

/* //////////////CONTEXT/////////////// */
.context{
    display: flex;
    flex-wrap: wrap;
}

.context p{
    justify-content: center;
    flex-basis: 70rem;
}


/* /////////////////////////////////////////////// */